html, body {
    background-color: #f9efd7;
    margin: 0;
    height: 100%;
}
/* Use h2 for subheadings, h1 for headings */
h1 {
    color: #4c0a0d;
    size: 24pt;
    font-family: 'Lato';
    text-align: center;
}
h2 {
    color: #153a0b;
    size: 16pt;
    font-style: italic;
    font-family: 'Lato';
}

p, label, legend, .essay_button, .viz_button, #nav_bar a{
    color: #1c1614;
    font-size: 12pt;
    font-family: 'Lato';
    text-decoration: none;
}

#nav_title a{
    font-size: 16pt;
}

#nav_bar li {
    display: inline-block;
}


#essay_dropdown li, #viz_dropdown li {
    display: block;
}

div.main_content {
    margin: auto;
    width: 960px;
    padding-top: 3em;
}

.nav_bar {
    height: auto;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
}

/*  nav {
    width: 960px;
    justify-content: center; 
} 
  */
div.flex {
    flex-flow: row wrap;
}

div.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    max-width: 100%;
}

div.map, div.timeline{
    height: 400px;
    z-index: 0; 
}

div.map, div.timeline, fieldset {
    /* width: 800px; */
    max-width: 100%;
    width: 100%;
}

div.timeline_inputs {
    max-width: 100%;
    display: flex;
}

input.author_input {
    width: 400px;
    max-width: 50%;
    align-self: center;
}

input.reset {
    align-self: center;
}

input.year_input {
    max-width: 25%;
}

input.slider {
    vertical-align: middle;
    max-width: 50%;
}

.dropdown button {
    background-color: lightgray;
    border: none;
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
  }  

.essay_options, .viz_options {
    display: none;
    position: absolute;
    overflow: auto;
    margin-top: 0;
    width: 150%;
  }
  
#essays li, #viz li {
    width: 100%;
}

.show {
    display: block;
    background-color: whitesmoke;   
}

/* .dropdown:hover .dropdown_options {
    display: block;
    background-color: whitesmoke;
} */
  
#visualizations_menu {
    background-color: lightgray;
}

/* Legend code from https://leafletjs.com/examples/choropleth/ */
  .legend {
      line-height: 18px;
      color: #555;
}
  .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    div.grid {
        grid-template-columns: 0.5fr;
    }
    /* div.nav_bar {
        width: 100%;
        height: auto;
        position: relative;
    }  */
}

@media only screen and (max-width: 960px) {
    div.main_content { 
        width: 100%;
    }
}