body {
    background-color: #f9efd7;
}
/* Use h2 for subheadings, h1 for headings */
h1 {
    color: #4c0a0d;
    size: 24pt;
    font-family: 'Lato';
}
h2 {
    color: #153a0b;
    size: 16pt;
    font-style: italic;
    font-family: 'Lato';
}
p, label, legend {
    color: #1c1614;
    size: 12pt;
    font-family: 'Lato';
}

div.flex {
    flex-flow: row wrap;
}

div.grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

div.map, div.timeline{
    height: 400px;
    z-index: 0; 
}

div.map, div.timeline, fieldset {
    width: 800px;
    max-width: 100%;
}

div.timeline_inputs {
    max-width: 100%;
    display: flex;
}

input.author_input {
    width: 400px;
    max-width: 50%;
    align-self: center;
}

input.reset {
    align-self: center;
}

input.year_input {
    max-width: 25%;
}

input.slider {
    vertical-align: middle;
    max-width: 50%;
}

/* Legend code from https://leafletjs.com/examples/choropleth/ */
  .legend {
      line-height: 18px;
      color: #555;
}
  .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
}