html, body {
    background-color: #f9efd7;
    margin: 0;
    height: 100%;
}
/* Use h2 for subheadings, h1 for headings */
h1 {
    color: #4c0a0d;
    font-size: 24pt;
    font-family: 'Lato';
    text-align: center;
}
h2 {
    color: #153a0b;
    font-size: 16pt;
    font-style: italic;
    font-family: 'Lato';
}

p, label, legend, .essay_button, .viz_button, #nav_bar a{
    color: #1c1614;
    font-size: 12pt;
    font-family: 'Lato';
    text-decoration: none;
}

button {
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

#nav_bar {
    height: auto;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

#nav_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
    margin: auto;
    padding: 0.5em;
}

#home a {
    font-size: 16pt;
}

#nav_list ul {
    align-self: right;
}

#nav_bar li {
    display: inline-block;
}

#nav_list {
    display: inline-flex; 
    /* justify-self: end; */
}

#main_list {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
}

#main_list li {
    display: block;
}


#essay_dropdown li, #viz_dropdown li {
    display: block;
}

div.main_content {
    margin: auto;
    width: 960px;
    padding-top: 2em;
    justify-content: center;
}

div.flex {
    flex-flow: row wrap;
}


div.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    max-width: 100%;
}

div.map, div.timeline{
    height: 400px;
    z-index: 0; 
}

div.map, div.timeline, fieldset {
    /* width: 800px; */
    max-width: 100%;
    width: 100%;
}

div.timeline_inputs {
    max-width: 100%;
    display: flex;
}

input.author_input {
    width: 400px;
    max-width: 50%;
    align-self: center;
}

input.reset {
    align-self: center;
}

input.year_input {
    max-width: 25%;
}

input.slider {
    vertical-align: middle;
    max-width: 50%;
}

.dropdown button {
    background-color: lightgray;
    border: none;
    outline: none;
    z-index: 0;
}

.dropdown {
    display: inline-block;
    position: relative;
  }  

.essay_options, .viz_options {
    display: none;
    position: absolute;
    overflow: auto;
    margin-top: 0;
    width: 200px;
    border-radius: 15px; 
    border: 2px solid #1c1614;
  }
  
#essays li, #viz li {
    width: 100%;
}

.dropdown ul {
    text-align: center;
}

.show {
    display: block;
    background-color: whitesmoke;  
}

#nav_collapse {
    display: none;
}

#bar_collapse {
    display: none;
}

#bar_collapse li {
    display: block;
    padding-left: 0;
}

#visualizations{
    justify-self: center
}

/* Legend code from https://leafletjs.com/examples/choropleth/ */
  .legend {
      line-height: 18px;
      color: #555;
}
  .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    div.grid {
        grid-template-columns: 0.5fr;
    }
}

@media only screen and (max-width: 960px) {
    div.main_content, #nav_content { 
        width: 720px;
    }
}

@media only screen and (max-width: 720px) {
    div.main_content, #nav_content { 
        width: 100%;
    }
    #nav_list {
        display: none;
    }
    #nav_collapse {
        display: block;
        justify-self: end;
    }
    #collapse_button {
        background-color: lightgray;
        border: none;
        font-size: 20pt;
    }
    #nav_list {
        justify-self: start;
    }
    #nav_list li {
        display: block;
        padding-left: 0;
    }
    #main_list {
        display: block;
    }
}

@media only screen and (min-width: 720px) {
    #nav_list {
        display: inline-flex !important; /* !important overrides inline styling, needed in conjunction with function to open nav menu */
    }
}